###############################################################################
# Project
###############################################################################

config/*.yaml
config/*.json
ignore-playbooks/
temp-files/*

*.tmp
*.bak
*.swp
*~.nib


